body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    grid-auto-flow: row;
    grid-template-areas:
        "feedbackform"
        "feedbackhistory";

    & h2 {
        font-size: 1.2rem;
        margin: 0 0 1rem;
        font-weight: 400;
    }

    & .feedbackform {
        grid-area: feedbackform;


        & form {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: calc(32px + 1rem) calc(32px + 1rem) 1fr calc(32px + 1rem);
            grid-template-areas: "name email" "title title" "message message" "submit submit";
            height: calc(100% - 48px);

            & .name {
                grid-area: name;
            }

            & .email {
                grid-area: email;
            }

            & .title {
                grid-area: title;
            }

            & .message {
                grid-area: message;

                & textarea {
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 1rem;
                    resize: none;
                }

                & .input-container {
                    height: 100%;
                }
            }

            & button[type="submit"] {
                grid-area: submit;
                background-color: var(--background-secondary);
                color: white;
                border: none;
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 4px;
                transition: background-color 0.2s;
            }

            & button[type="submit"]:hover,
            & button[type="submit"]:focus {
                background-color: var(--link-active);
                outline: none;
            }
        }
    }

    & .feedbackhistory {
        grid-area: feedbackhistory;

        & .history-list {

            &.empty {
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(100% - 2.2rem);
                color: var(--text-secondary);
                font-size: 1.2rem;
                font-style: italic;
                gap: 8px;

                & svg {
                    width: 32px;
                    height: 32px;
                    color: var(--link-active);
                }
            }
        }
    }
}

/* Input decoration */

.input-container {
    position: relative;
    margin-bottom: 1rem;

    & input,
    & textarea {
        background-color: transparent;
        width: 100%;
        border-radius: 4px;
        border: 2px solid var(--background-secondary);
        color: var(--text-primary);
        padding: 0.5rem;
        outline: 0;
        font-size: 18px;
        transition: border 0.2s;
    }

    & input {
        height: 50px;
    }

    & textarea {
        height: 100%;
        field-sizing: content;
    }

    & .input-tooltip {
        position: absolute;
        font-size: 17px;
        top: 14px;
        left: 0.5rem;
        user-select: none;
        background-color: var(--background-primary);
        color: var(--text-secondary);
        transition: 0.2s;
        padding: 0 0.25rem;
        pointer-events: none;
    }

    & input:active,
    & input:focus,
    & textarea:active,
    & textarea:focus,
    input:not(:placeholder-shown),
    textarea:not(:placeholder-shown) {
        border: 2px solid var(--text-primary);
    }
}

input:focus~.input-tooltip,
input:not(:placeholder-shown)~.input-tooltip,
textarea:focus~.input-tooltip,
textarea:not(:placeholder-shown)~.input-tooltip {
    transform: translate(-8%, -26px) scale(0.8);
    color: var(--text-primary);
}