@media (prefers-color-scheme: dark) {

    :root {
        /* Colors */
        --background-primary: #131416;
        --background-secondary: #282b2f;
        --text-primary: #e0e0e0;
        --text-secondary: #99A0A8;
    }

    .dark-hidden {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .light-hidden {
        display: none;
    }
}