:root {
    /* Colors */
    --background-primary: #ffffff;
    --background-secondary: #f4f5f6;
    --text-primary: #333333;
    --text-secondary: #666666;
    --link-active: #2a83f8;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--text-primary);
    height: 100dvh;
}

.global-container {
    overflow: hidden;
}